<div style="margin-top:9%;">

<img src="https://cdn.pixabay.com/photo/2013/07/12/18/22/check-153363_1280.png" style="width:200px;height:200px;" alt="Ödeme Başarılı" />

<h1>Ödeme Başarılı!</h1>
<p>Ödemeniz başarıyla tamamlandı. Teşekkür ederiz!</p>
<p>Sipariş No: @ViewData["SiparisNo"] </p>

</div>
