@* @* https://localhost:44359/User/SifreOnay 

<div style="margin-top:9%;">
    <p>
        ekran
    </p>
</div> *@



 @model Eticaret.Models.UserPasswordHistory

@{
    ViewData["Title"] = "SifreOnay";
}

<h1>SifreOnay</h1>

<h4>UserPasswordHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SifreOnay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserPasswordHistoryId" />
            <input type="hidden" asp-for="Mail" name="username"  />
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" name="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Şifre Onayla" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 